.about-wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.about-wrapper .about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.about-wrapper .about-main-heading {
  font-size: 29px;
  color: white;
  position: relative;
  padding: 20px 0;
}
.about-wrapper .heading {
  z-index: 999;
  position: relative;
}

.about-wrapper .about-us-heading-span {
  color: #ffb400;
}

.about-wrapper .header-background {
  font-size: 100px;
  color: gray;
  text-transform: uppercase;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  opacity: 0.5;
}

.about-wrapper .about-content-wrapper {
  width: 100%;
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.about-wrapper .about-coontent-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-wrapper .personal-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-wrapper .personal-info-heading {
  color: white;
}

.about-wrapper .info-stats-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-wrapper .info-wrapper {
  display: flex;
  flex-direction: column;
}

.about-wrapper .info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.about-wrapper .info-paragraph {
  color: white;
}
.about-wrapper .info-paragraph span {
  font-weight: bold;
}

.about-wrapper .stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
}

.about-wrapper .stats .stats-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  max-width: 350px;
  width: 100%;
}

.about-wrapper .stat-numbers {
  font-size: 50px;
  color: #ffb400;
  margin-bottom: 0;
}

.about-wrapper .stat-numbers::after {
  content: "+";
  color: #ffb400;
  font-size: 40px;
}

.about-wrapper .stat-description {
  padding-left: 45px;
  position: relative;
  max-width: 100px;
  text-transform: uppercase;
}

.about-wrapper .stat-description::before {
  content: "";
  width: 30px;
  height: 1px;
  color: white;
  background-color: white;
  position: absolute;
  top: 10px;
  left: 0px;
}

.about-wrapper .skills-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-wrapper .skills-heading {
  color: white;
  align-self: center;
}

.about-wrapper .skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 50px;
}

.about-wrapper .skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-wrapper .skill > h3 {
  color: white;
}

.about-wrapper .experience-education-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-wrapper .experience-education-heading {
  color: white;
  align-self: center;
}

.about-wrapper .education-experience-content {
  display: flex;
  flex-direction: row;
}

.about-wrapper .experience-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-wrapper .experience {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  height: 100%;
  gap: 10px;
}

.about-content .experience .icon {
  position: relative;
  width: 20px;
  display: table;
  height: 100%;
  overflow: hidden;
}

.about-content .experience .icon .experience-icon {
  position: relative;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffb400;
  padding: 7px;
  border-radius: 50%;
}

.about-content .experience .icon::after {
  content: "";
  display: table;
  position: absolute;
  top: 39px;
  left: 17px;
  width: 1px;
  height: 100%;
  background-color: #555555;
}

.about-wrapper .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.about-wrapper .time-period {
  background-color: #555555;
  border-radius: 10px;
  padding: 2px 10px;
  color: white;
  margin: 0 0;
}

.about-wrapper .position {
  color: white;
  font-size: 25px;
  margin: 20px 0;
}

.about-wrapper .position span {
  font-weight: bold;
}


.about-wrapper .description{
  color: white;
  /* max-width: 500px; */
}