.experience {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  height: 100%;
  gap: 10px;
  margin: 5px 0;
}

.experience .icon {
  position: relative;
  width: 20px;
  display: table;
  height: 100%;
  overflow: hidden;
}

.experience .icon .experience-icon {
  position: relative;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffb400;
  padding: 7px;
  border-radius: 50%;
}

.experience .icon::after {
  content: "";
  display: table;
  position: absolute;
  top: 39px;
  left: 17px;
  width: 1px;
  height: 100%;
  background-color: #555555;
}

.experience .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.experience .time-period {
  background-color: #555555;
  border-radius: 10px;
  padding: 2px 10px;
  color: white;
  margin: 0 0;
}

.experience .position {
  color: white;
  font-size: 25px;
  margin: 20px 0;
}

.experience  .position span {
  font-weight: bold;
}

.experience .description {
  color: white;
  /* max-width: 500px; */
}
