.menu-list {
  list-style: none;
  color: white;
  width: 100%;
}

.menu-list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  text-decoration: none;
  color: white;
}

.menu-list-item-text {
  width: 70%;
  padding: 3px 10px;
  opacity: 0;
}
.menu-list-item-image {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffb400;
  border-radius: 50%;
  height: 50px;
}

.menu-list-item:hover {
  background-color: #ffb400;
  transition: 1s;
  border-radius: 25px;
}

.menu-list-item:hover .menu-list-item-text {
  opacity: 1;
  transition: 1s;
}
